footer {
    width: 100%;
    height: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: #F1D2BC;
    z-index: 1000;

}

.fixed-footer {
    position: fixed;
    bottom: 0;
}