{% extends "squelette.twig" %}

{% block content %}
    <h1>{{ box['libelle'] }}</h1>
    <div>
        <h2>Description</h2>
        <p>{{ presta['description'] }}</p>
        <h2>Url</h2>
        <p>{{ presta['montant'] }}</p>
    </div>
{% endblock %}