{% extends "squelette.twig" %}
{% block content %}
        <div id="container" class="center">
                {% for box in boxs %}
                        <h2>Nom : {{ box['libelle'] }}</h2>
                        <p>Description : {{ box['description'] }}</p>
                        <p>Montant : {{ box['montant'] }}</p>
                        <a href="{{ url_for('box', {'box_token': box['token'] }) }}">Voir plus</a>
                        <br />
                        <br />
                {% endfor %}
        </div>
{% endblock %}