{% extends "squelette.twig" %}

{% block content %}
    <div id="categories_container">
        <h1 id="categories_title">Categories</h1>
        <hr/>
        <div id="categories_list">
            {% for categ in categories %}
                <a href="{{ url_for('categorie', { 'id': categ['id'] }) }}"
                   class="categories_list-item">{{ categ['libelle'] }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}