{% extends "squelette.twig" %}

{% block content %}
    <div id="categories_container">
        <h1 id="title">Categories</h1>
        <hr/>
        <div id="categories_list">
            {% for categ in categories %}
                <div class="categories_list_item" style="background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url('{{ resources['shared'] }}/{{ categ['img'] }}') ">
                    <a href="{{ url_for('categorie', { 'id': categ['id'] }) }}">
                        <h2 class="categories_list_item-text">{{ categ['libelle'] }}</h2>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}