<header>
    <div id="header_logo_container">
        <a href="/"><img src="{{ resources['img'] }}/logo.svg" alt="My Gift Box" id="header-logo"></a>
    </div>
        <nav>
            <a href="/box" id="header_nav_box"><h2 class="header_nav-item text-darken">Composer son coffret</h2></a>
            <a href="/"><h2 class="header_nav-item">Accueil</h2></a>
            <a href="/categories"><h2 class="header_nav-item">Categories</h2></a>
            <a href="/prestations"><h2 class="header_nav-item">Presations</h2></a>
            <a href="/register"><h2 class="header_nav-item">S'inscrire</h2></a>
            <a href="/login"><h2 class="header_nav-item">Se connecter</h2></a>
        </nav>
</header>