{% extends "squelette.twig" %}

{% block content %}
    <div class="home">
        <h1>Welcome to My Gift Box</h1>
        <h2>Would you like to take a look at all our categories ?</h2>
    </div>
{% endblock %}