{% extends "squelette.twig" %}

{% block content %}
    <div id="home_container">
        <h1 id="home-title">Bienvenue sur My Gift Box</h1>
        <h2 id="home-subtitle">Voulez-vous faire un tour de nos prestations ?</h2>
        <a href="/categories">
            <div id="home_button">
                <p id="home_button_text" class="text-darken">Allons-y !</p>
                <img id="home_button_cart" src="{{ resources['img'] }}/cart-shopping-solid.svg" alt="cart">
            </div>
        </a>
    </div>
{% endblock %}