<!DOCTYPE html>
<html lang="fr">
<head>
    <title>My Gift Box</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="../styles/main.css">

    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>
<body>
{% include 'header.twig' %}
<div id="content">
    {% block content %} {% endblock %}
</div>
{% include 'footer.twig' %}
</body>
</html>