<!DOCTYPE html>
<html lang="fr">
<head>
    <title>My Gift Box</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ resources['css'] }}/main.css">
</head>
<body>
{% include 'header.twig' %}
<div id="content">
    {% block content %} {% endblock %}
    {% include 'footer.twig' %}
</div>
</body>
</html>