#categories_container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#categories_title {
    margin: 1em 0 0 0;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5em;
    text-transform: uppercase;
    color: #5A4A3F;
}

#categories_list {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.categories_list-item {
    margin: 0 1em;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5em;

    text-transform: uppercase;
    color: #5A4A3F;
}